<nav class="top-navbar" *ngIf="!esPantallaLogin ">
    <div class="nav-content">


        <div class="logo-container">
            <h5 (click)="navigateTo('/')" style="cursor: pointer;" class="logo-text">RSDP</h5>
        </div>
        <div class="nav-items">

            <a class="nav-link" style="cursor: pointer; color: azure;" routerLink="/calendario">
                <i class="fa fa-calendar"></i>
            </a>
            <div class="notifications-dropdown">
                <a class="nav-link dropdown-toggle" style="cursor: pointer;">
                    <i class="fa fa-bell"></i>
                    <span *ngIf="getNotificacionesNoLeidas().length > 0" class="notification-badge">
                        {{ getNotificacionesNoLeidas().length }}
                    </span>
                </a>
                <div class="notifications-menu">
                    <div class="notifications-list">
                        <div *ngFor="let notificacion of notificaciones" class="notification-item"
                            [ngClass]="{'leida': notificacion.leida}" (click)="manejarClickNotificacion(notificacion)">
                            <div class="notification-content">
                                <span *ngIf="!notificacion.leida" class="new-notification-dot"></span>
                                <p>{{ notificacion.mensaje }}</p>
                            </div>
                            <i class="fa fa-trash delete-icon"
                                (click)="eliminarNotificacion(notificacion); $event.stopPropagation()"></i>
                        </div>
                    </div>

                    <div *ngIf="getNotificacionesNoLeidas().length === 0" class="no-notifications">
                        No hay notificaciones nuevas
                    </div>
                </div>
            </div>

            <div class="perfil-contenedor">
                <a (click)="navigateToMiPerfil()" class="imagen-perfil">
                    <img [src]="usuario?.fotoPerfil || '../assets/usuario.png'" alt="Foto de perfil" />
                </a>
                <a (click)="navigateToMiPerfil()" class="nombre-usuario">
                    {{ usuario?.nombreUsuario || 'Cargando...' }}
                </a>
            </div>
        </div>
    </div>
</nav>

<div *ngIf="!esPantallaLogin" class="sidebar" [class.collapsed]="isCollapsed">


    <div class="hamburger-icon" (click)="toggleSidebar(); closeAllDropdown()">
        <i class="fa fa-bars"></i>
    </div>

    <ul>
        <nav class="menu">
            <!-- Dropdown: Eventos -->
            <li class="menu-item dropdown" [class.open]="isDropdownOpen['eventos']"
                (mouseleave)="closeDropdown('eventos')">

                <a (click)="toggleDropdown('eventos')">
                    <span class="icon"><i class="fa fa-calendar"></i></span>
                    <span class="menu-text" *ngIf="!isCollapsed">Eventos</span>
                    <span class="dropdown-arrow" *ngIf="!isCollapsed">
                        <i [class]="isDropdownOpen['eventos'] ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                    </span>
                </a>
                <ul class="dropdown-menu" *ngIf="isDropdownOpen['eventos']">
                    <li><a (click)="closeDropdown('eventos'); cerrarBarra()" [routerLink]="['/eventos']">Listar
                            eventos</a></li>
                    <li><a (click)="closeDropdown('eventos'); cerrarBarra()"
                            [routerLink]="['/eventos/crearEvento']">Crear evento</a></li>
                    <li><a (click)="closeDropdown('eventos'); cerrarBarra()" [routerLink]="['/eventosUsuario']">Eventos
                            creados</a></li>
                </ul>
            </li>

            <!-- Dropdown: Comunidades -->
            <li class="menu-item dropdown" [class.open]="isDropdownOpen['comunidades']"
                (mouseleave)="closeDropdown('comunidades')">
                <a (click)="toggleDropdown('comunidades')">
                    <span class="icon"><i class="fa fa-users"></i></span>
                    <span class="menu-text" *ngIf="!isCollapsed">Comunidades</span>
                    <span class="dropdown-arrow" *ngIf="!isCollapsed">
                        <i [class]="isDropdownOpen['comunidades'] ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                    </span>
                </a>
                <ul class="dropdown-menu" *ngIf="isDropdownOpen['comunidades']">
                    <li><a (click)="closeDropdown('comunidades'); cerrarBarra()" [routerLink]="['/comunidades']">Listar
                            comunidades</a></li>
                    <li><a (click)="closeDropdown('comunidades'); cerrarBarra()"
                            [routerLink]="['/comunidades/crearComunidad']">Crear comunidad</a></li>
                    <li><a (click)="closeDropdown('comunidades'); cerrarBarra()"
                            [routerLink]="['/comunidadesUsuario']">Comunidades creadas</a></li>
                </ul>
            </li>

            <!-- Simple: Amigos -->
            <li class="menu-item friends-link">
                <a [routerLink]="['/amigos']">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="menu-text" *ngIf="!isCollapsed">Amigos</span>
                </a>
            </li>

            <!-- Dropdown: Sugerencias -->
            <li class="menu-item dropdown" [class.open]="isDropdownOpen['sugerencias']"
                (mouseleave)="closeDropdown('sugerencias')">
                <a (click)="toggleDropdown('sugerencias')">
                    <span class="icon"><i class="fa fa-question-circle"></i></span>
                    <span class="menu-text" *ngIf="!isCollapsed">Sugerencias</span>
                    <span class="dropdown-arrow" *ngIf="!isCollapsed">
                        <i [class]="isDropdownOpen['sugerencias'] ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                    </span>
                </a>
                <ul class="dropdown-menu" *ngIf="isDropdownOpen['sugerencias']">
                    <li><a (click)="closeDropdown('sugerencias'); cerrarBarra()"
                            [routerLink]="['/sugerencias/amigos']">De amigos</a></li>
                    <li><a (click)="closeDropdown('sugerencias'); cerrarBarra()"
                            [routerLink]="['/sugerencias/eventos']">De eventos</a></li>
                    <li><a (click)="closeDropdown('sugerencias'); cerrarBarra()"
                            [routerLink]="['/sugerencias/comunidades']">De comunidades</a></li>
                    <li><a (click)="closeDropdown('sugerencias'); cerrarBarra()"
                            [routerLink]="['/sugerencias/rutinas']">De rutinas</a></li>
                </ul>
            </li>

            <!-- Dropdown: Rutinas -->
            <li class="menu-item dropdown" [class.open]="isDropdownOpen['rutinas']"
                (mouseleave)="closeDropdown('rutinas')">
                <a (click)="toggleDropdown('rutinas')">
                    <span class="icon"><i class="fa fa-soccer-ball-o"></i></span>
                    <span class="menu-text" *ngIf="!isCollapsed">Rutinas</span>
                    <span class="dropdown-arrow" *ngIf="!isCollapsed">
                        <i [class]="isDropdownOpen['rutinas'] ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                    </span>
                </a>
                <ul class="dropdown-menu" *ngIf="isDropdownOpen['rutinas']">
                    <li><a (click)="closeDropdown('rutinas'); cerrarBarra()" [routerLink]="['/rutinas']">Listar
                            Rutinas</a></li>
                    <li><a (click)="closeDropdown('rutinas'); cerrarBarra()"
                            [routerLink]="['/rutinas/crearRutina']">Nueva Rutina</a></li>
                    <li><a (click)="closeDropdown('rutinas'); cerrarBarra()" [routerLink]="['/rutinasUsuario']">Mis
                            Rutinas Creadas</a></li>
                </ul>
            </li>
            
            <!--  Publicación -->
            <li class="menu-item friends-link">
                <a [routerLink]="['/publicacion']">
                    <span class="icon"><i class="fa fa-thumbs-o-up"></i></span>
                    <span class="menu-text" *ngIf="!isCollapsed">Nueva publicacion</span>
                </a>
            </li>



            <!-- Simple: Cerrar sesión -->
            <li class="menu-item">
                <a (click)="logout()" class="logout-button">
                    <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                    <span class="menu-text" *ngIf="!isCollapsed">Cerrar sesión</span>
                </a>
            </li>
        </nav>
    </ul>

</div>


<div class="main-content" [ngClass]="{ 'full-width': isCollapsed }">
    <router-outlet></router-outlet>
</div>