<div class="boton-flotante" *ngIf="mostrarBotonActualizar" [style.top.px]="posicionBoton.top" [style.left.px]="posicionBoton.left">
  <button (click)="actualizarPublicaciones()" class="btn-actualizar">
    Nuevas publicaciones disponibles
  </button>
</div>


<div class="publicaciones-container" (scroll)="onScroll()">
  <div class="perfil-publicaciones">
    <div class="publicaciones-grid">
      <div class="publicacion-item" *ngFor="let publicacion of publicaciones"
        (click)="goToPublicacionDetail(publicacion.publicacion.id)">
        <div class="publicacion-container">
          <div class="publicacion-header">
            <div class="perfil-container">
              <!-- Foto de la comunidad -->
              <div *ngIf="publicacion.comunidad" class="foto-comunidad"
                (click)="goToComunidad(publicacion.comunidad.id); $event.stopPropagation()">
                <img [src]="publicacion.comunidad.imagen ? publicacion.comunidad.imagen : '../../assets/comunidad.jpg'" alt="Comunidad">
              </div>
              <!-- Foto del usuario -->
              <div class="foto-usuario" (click)="goToPerfil(publicacion.creador.id); $event.stopPropagation()">
                <img [src]="publicacion.creador.fotoPerfil ? publicacion.creador.fotoPerfil : '../../assets/usuario.png'" alt="Usuario">
              </div>
              <p class="nombre-usuario" (click)="goToPerfil(publicacion.creador.id); $event.stopPropagation()">
                {{ publicacion.creador.nombreUsuario }}
              </p>
            </div>
            <div class="nombres-container">
              <!-- Nombre de la comunidad -->
              <p *ngIf="publicacion.comunidad" class="nombre-comunidad"
                (click)="goToComunidad(publicacion.comunidad.id); $event.stopPropagation()">
                {{ publicacion.comunidad.nombre }}
              </p>
              <!-- Nombre del usuario -->
            </div>
            <!-- Fecha de publicación -->
            <div class="publicacion-fecha">
              {{ publicacion.publicacion.fechaDeCreacion | date:'medium' }}
            </div>
          </div>

          <!-- Contenido existente -->
          <div class="publicacion-content">
            <p class="publicacion-texto">{{ publicacion.publicacion.texto }}</p>
            <div *ngIf="publicacion.publicacion.file && publicacion.publicacion.file.startsWith('data:image')" 
                 class="publicacion-imagen-container">
              <img [src]="publicacion.publicacion.file" alt="Imagen de la publicación" class="publicacion-imagen">
            </div>
            <div *ngIf="publicacion.publicacion.file && publicacion.publicacion.file.startsWith('data:video')">
              <video [src]="publicacion.publicacion.file" controls class="publicacion-video"></video>
            </div>
          </div>

          <!-- Sección de interacciones -->
          <div class="publicacion-interactions">
            <!-- Sección de likes -->
            <div class="likes-section">
              <button class="like-button" (click)="toggleLike(publicacion, $event)"
                [class.liked]="publicacion.estaLikeada">
                <i class="heart"
                  [ngClass]="publicacion.estaLikeada ? 'fas fa-heart liked' : 'far fa-heart'">
                </i>
              </button>
              <span class="likes-count">{{ publicacion.likes || 0 }} likes</span>
            </div>

            <!-- Sección de comentarios -->
            <div class="comments-section">
              <div
                *ngIf="comentarios[publicacion.publicacion.id] && comentarios[publicacion.publicacion.id].length > 0">
                <div class="comment" *ngFor="let comment of (comentarios[publicacion.publicacion.id] | slice:0:3)">
                  <a class="usuario-publicador" (click)="goToPerfil(comment.usuario.id); $event.stopPropagation();">
                    {{ comment.usuario.nombreUsuario }}
                  </a>
                  <span class="publicacion-texto">{{ comment.texto }}</span>
                </div>
                <div *ngIf="comentarios[publicacion.publicacion.id].length > 3" class="publicacion-texto"
                  style="color: #8e8e8e; cursor: pointer;">
                  Ver los {{ comentarios[publicacion.publicacion.id].length }} comentarios
                </div>
              </div>

              <!-- Input de comentarios -->
              <div class="comment-input-section">
                <button class="comment-button"
                  (click)="showCommentInput[publicacion.publicacion.id] = !showCommentInput[publicacion.publicacion.id]; $event.stopPropagation()">
                  <i class="fa fa-comment-o"></i>
                </button>
                <div *ngIf="showCommentInput[publicacion.publicacion.id]" class="comment-input-container"
                  (click)="$event.stopPropagation()">
                  <input type="text" [(ngModel)]="newComments[publicacion.publicacion.id]"
                    placeholder="Escribe un comentario..."
                    (keyup.enter)="submitComment(publicacion.publicacion.id, $event)" class="publicacion-input">
                  <button (click)="submitComment(publicacion.publicacion.id, $event)" class="publicacion-button">
                    Enviar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="loading" class="loading-indicator">
        Cargando más publicaciones...
      </div>
    </div>
  </div>
</div>