<div class="codigo-container">
  <h2>Verificación de correo</h2>
  <p>Se ha enviado un código de verificación a tu correo. Ingrésalo abajo:</p>

  <form [formGroup]="codigoForm" (ngSubmit)="onSubmit()">
    <div class="codigo-inputs">
      <input formControlName="codigo1" maxlength="1" />
      <input formControlName="codigo2" maxlength="1" />
      <input formControlName="codigo3" maxlength="1" />
      <input formControlName="codigo4" maxlength="1" />
      <input formControlName="codigo5" maxlength="1" />
      <input formControlName="codigo6" maxlength="1" />
    </div>

    <button mat-raised-button color="primary" type="submit" class="btn-left" [disabled]="!codigoForm.valid">
      Verificar
    </button>
  </form>
</div>