<div class="container comunidad-detail-container" *ngIf="comunidad">
  <div class="row justify-content-center">
    <div class="card shadow-sm mt-4">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">{{ comunidad.nombre }}</h2>

        <p><strong>Fecha de creación:</strong> {{ comunidad.fechaDeCreacion | date:'dd-MM-yyyy' : '+00:00' }}</p>
        <p><strong>Ubicación:</strong> {{ comunidad.ubicacion }}</p>
        <p><strong>Descripción:</strong> {{ comunidad.descripcion }}</p>
        <p><strong>Cantidad máxima de miembros:</strong> {{ comunidad.cantidadMaximaMiembros }}</p>
        <p><strong>Participantes:</strong> {{ comunidad.participantes }}</p>

        <!-- Botón de Inscribirse -->
        <button (click)="ingresar()" class="btn btn-primary btn-block ingresar-button">Inscribirse</button>

        <!-- Botón de regresar -->
        <button (click)="goBack()" class="btn btn-secondary btn-block mt-2">Volver</button>
      </div>
    </div>
  </div>
</div>
