.carousel {
  position: relative;
  width: 100vh;
  height: 50vh; /* Ajusta a toda la altura de la ventana */
  overflow: hidden;
}

.carousel-container {
  display: flex;
  justify-content: center; /* Centra los elementos cuando hay menos de 4 */
  transition: transform 0.5s ease; /* Para animar el desplazamiento */
  height: auto;
}

.carousel-item {
  flex: 0 0 25%; /* Cada item ocupa un cuarto del ancho si hay 4 o más */
  height: 100%;
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  position: relative;
}

.large-event {
  flex: 0 0 100%; /* La primer comunidad ocupa toda la pantalla */
}

.mini-event {
  flex: 0 0 25%; /* Las mini comunidades ocupan 1/4 de la pantalla */
  height: 150px; /* Altura fija para los mini comunidades */
}

.comunidad-card {
  padding: 20px;
  margin: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comunidad-details {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.carousel-control {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 20px;
  cursor: pointer;
  z-index: 1000; /* Asegura que los botones estén por encima del contenido */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indice-actual {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.clickable {
  cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
}

.carousel-item {
  position: relative;
  z-index: 1; /* Asegura que los elementos sean interactivos */
}

.comunidad-card {
  padding: 20px;
  background-color: rgb(241, 148, 86);
  border-radius: 8px;
  transition: transform 0.2s;
}

.comunidad-card:hover {
  transform: scale(1.05); /* Pequeña animación para indicar que es clickeable */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Centrado adecuado si hay 1 o 2 comunidades */
.carousel-container.few-items {
  justify-content: center; /* Centra los elementos si hay pocos */
}

/* Ajuste para 1 sola comunidad */
.carousel-item.single {
  flex: 0 0 100%; /* Si solo hay 1 comunidad, ocupa todo el ancho */
}

/* Ajuste para 2 comunidades */
.carousel-item.double {
  flex: 0 0 50%; /* Si hay 2 comunidades, cada una ocupa la mitad del ancho */
}

/* Ajuste para 3 comunidades */
.carousel-item.triple {
  flex: 0 0 33.33%; /* Si hay 3 comunidades, cada una ocupa un tercio del ancho */
}