<div class="comunidad-admin">
    <h2>Administración de la Comunidad: {{ comunidad?.nombre }}</h2>
  
    <!-- Sección para editar la comunidad -->
    <button (click)="editarComunidad()">Editar Información de la Comunidad</button>
  
    <!-- Sección de miembros -->
    <h3>Miembros</h3>
    <ul>
        <li *ngFor="let miembro of miembros">
          {{ miembro.nombreUsuario }}
          <button *ngIf="esAdministrador(miembro.id)" (click)="quitarRolOrganizador(miembro.id)">Remover Administrador</button>
          <button *ngIf="!esAdministrador(miembro.id)" (click)="otorgarRolOrganizador(miembro.id)">Otorgar Administrador</button>
        </li>
      </ul>
  
    <!-- Sección de solicitudes pendientes (solo para comunidades privadas) -->
    <div *ngIf="comunidad.esPrivada">
      <h3>Solicitudes Pendientes</h3>
      <ul>
        <li *ngFor="let solicitud of solicitudesPendientes">
          {{ solicitud.nombreUsuario }}
          <button (click)="gestionarSolicitud(solicitud.id,true)">Aceptar</button>
          <button (click)="gestionarSolicitud(solicitud.id,false)">Rechazar</button>
        </li>
      </ul>
    </div>
  
    <!-- Botón para eliminar la comunidad -->
    <button (click)="eliminarComunidad()" class="danger-button">Eliminar Comunidad</button>
  
    <!-- Botón para regresar a la página anterior -->
    <button (click)="goBack()">Regresar</button>
  </div>
  