<div class="container">
  <div class="row justify-content-center align-items-center mb-4">
    <div class="col-auto">
      <button class="tab-button d-flex align-items-center" [ngClass]="{ active: tabSeleccionada === 'filtros' }"
        (click)="toggleFilters()">
        <span class="material-icons me-2">filter_list</span>
        Filtros
      </button>
    </div>
  </div>
</div>

<div *ngIf="filtersVisible || filtersAnimating"
  [ngClass]="{'fadeIn': filtersVisible, 'fadeOut': !filtersVisible && filtersAnimating}" class="filtros-container">
  <!-- Filtro por nombre -->
  <div class="filtro-container filtro-nombre">
    <label class="filtro-label">
      <button (click)="toggleFiltroNombre()" class="filtro-toggle">
        <i [class]="filtroNombreAbierto ? 'arrow up' : 'arrow down'"></i>
      </button>
    </label>

    <div *ngIf="filtroNombreAbierto" class="filtro-content">
      <div class="search-container">
        <label for="nombreEvento">Buscar comunidad:</label>
        <input type="text" id="nombreEvento" class="form-control" [(ngModel)]="nombreEventoFiltro"
          (input)="onSearchInputComunidades()">
        <i class="fas fa-search search-icon"></i>
      </div>
    </div>
  </div>


  <!-- Filtro por participantes -->
  <div class="filtro-container filtro-participantes">
    <label class="filtro-label">
      <input type="checkbox" [(ngModel)]="filtroParticipantesActivo" (change)="aplicarTodosLosFiltros()">
      <button (click)="toggleFiltroParticipantes()" class="filtro-toggle">
        Filtrar por participantes <i [class]="filtroParticipantesAbierto ? 'arrow up' : 'arrow down'"></i>
      </button>
    </label>
    <div *ngIf="filtroParticipantesAbierto" class="filtro-content">
      <div class="input-group">
        <div class="input-container">
          <label for="minParticipantes">Mínimo:</label>
          <input type="number" id="minParticipantes" [(ngModel)]="minParticipantes">
        </div>
        <div class="input-container">
          <label for="maxParticipantes">Máximo:</label>
          <input type="number" id="maxParticipantes" [(ngModel)]="maxParticipantes">
        </div>
      </div>
      <div class="button-group">
        <button (click)="aplicarTodosLosFiltros()" class="aplicar-filtro">Aplicar Filtro</button>
        <button (click)="limpiarFiltroParticipantes()" class="limpiar-filtro">Limpiar Filtro</button>
      </div>
    </div>
  </div>

  <!-- Filtro por etiquetas -->
  <div class="filtro-container filtro-etiquetas">
    <label class="filtro-label">
      <input type="checkbox" [(ngModel)]="filtroEtiquetasActivo" (change)="aplicarTodosLosFiltros()">
      <button (click)="toggleFiltroEtiquetas()" class="filtro-toggle">
        Filtrar por etiquetas <i [class]="filtroEtiquetasAbierto ? 'arrow up' : 'arrow down'"></i>
      </button>
    </label>
    <div *ngIf="filtroEtiquetasAbierto" class="filtro-content">
      <input id="etiquetas" class="form-control" [(ngModel)]="etiquetaSeleccionada" [ngbTypeahead]="searchEtiqueta"
        [resultFormatter]="resultFormatEtiqueta" [inputFormatter]="inputFormatEtiqueta"
        (selectItem)="agregarEtiqueta($event)" name="etiquetaSeleccionada" placeholder="Buscar etiqueta" />
      <div class="selected-tags">
        <span *ngFor="let etiqueta of etiquetasSeleccionadas" class="tag">
          {{ etiqueta.nombre }}
          <button (click)="removerEtiqueta(etiqueta)" class="remove-tag">&times;</button>
        </span>
      </div>
      <div class="button-group">
        <button (click)="aplicarTodosLosFiltros()" class="aplicar-filtro">Aplicar Filtro</button>
        <button (click)="limpiarFiltroEtiquetas()" class="limpiar-filtro">Limpiar Filtro</button>
      </div>
    </div>
  </div>

</div>



<div class="tabs-container">
  <!-- Botones de las pestañas -->
  <button class="tab-button" [ngClass]="{ active: tabSeleccionada === 'disponibles' }"
    (click)="seleccionarTab('disponibles')">Comunidades Disponibles</button>
  <button class="tab-button" [ngClass]="{ active: tabSeleccionada === 'miembro' }"
    (click)="seleccionarTab('miembro')">Comunidades en las que Participas</button>
</div>



<div class="content-container">
  <!-- Comunidades Disponibles -->
  <div *ngIf="tabSeleccionada === 'disponibles'" class="content-section">
    <h2 class="section-title">Explora Comunidades Disponibles</h2>
    <div class="grid" (scroll)="onScroll()">
      <div class="grid-item" *ngFor="let comunidad of comunidadesDisponiblesAMostrar"
        (click)="irADetallesDeLaComunidad(comunidad.id)"
        [ngStyle]="{'background-image': 'url(' + (comunidad.imagen || '../../assets/comunidad.jpg') + ')'}">
        <div class="comunidad-card clickable" [ngClass]="{ 'colapsado': esContenidoLargo(comunidad) }">
          <h3>{{ comunidad.nombre }}
            <i *ngIf="comunidad.esPrivada" class="fa fa-lock" aria-hidden="true"></i>
          </h3>
          <p>{{ comunidad.descripcion }}</p>
          <p>Miembros: {{ comunidad.miembros }}/{{comunidad.cantidadMaximaMiembros}}</p>
          <p>Ubicación: {{comunidad.ubicacion}}</p>
          <p>Género:
            {{ comunidad.genero === 'femenino' ? 'Femenino' :
               comunidad.genero === 'masculino' ? 'Masculino' :
               comunidad.genero === 'sinGenero' ? 'Sin género' :
               comunidad.genero === 'otro' ? 'Otro' : 'Desconocido' }}
          </p>  
          <div class="creador-container" *ngIf="mapaCreadorComunidades.get(comunidad.id)">
            <p class="creador-titulo">Creado por:</p>
            <div class="creador-info">
              <span class="creador-nombre">{{ mapaCreadorComunidades.get(comunidad.id)?.nombreUsuario }}</span>
              <img [src]="mapaCreadorComunidades.get(comunidad.id)?.fotoPerfil || '../../assets/usuario.png'" 
              alt="Foto de perfil" 
              class="creador-foto">
            </div>
          </div>
          <p>
            Moderación:
            <i class="fa"
              [ngClass]="comunidad.esModerada ? 'fa-shield text-danger' : 'fa-check-circle text-success'"></i>
            {{ comunidad.esModerada ? 'Moderada' : 'No moderada' }}
          </p>
          <div class="etiquetas-container">
            <h4 class="etiquetas-title">Etiquetas:</h4>
            <span *ngFor="let etiqueta of comunidad.etiquetas" class="etiqueta">
              {{ etiqueta.nombre }}
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="comunidadesDisponiblesAMostrar.length==0">
        No hay comunidades disponibles para mostrar con los filtros seleccionados
      </div>
    </div>
  </div>


  <div *ngIf="tabSeleccionada === 'miembro'" class="content-section">
    <h2 class="section-title">Comunidades En Las Que Eres Miembro</h2>
    <div class="grid" (scroll)="onScroll()">
      <div class="grid-item" *ngFor="let comunidad of comunidadesMiembroUsuarioAMostrar"
        (click)="irADetallesDeLaComunidad(comunidad.id)"
        [ngStyle]="{'background-image': 'url(' + (comunidad.imagen || '../../assets/comunidad.jpg') + ')'}">
        <div class="comunidad-card clickable">
          <h3>{{ comunidad.nombre }}
            <i *ngIf="comunidad.esPrivada" class="fa fa-lock" aria-hidden="true"></i>
          </h3>
          <p>{{ comunidad.descripcion }}</p>
          <p>Miembros: {{ comunidad.miembros }}/{{comunidad.cantidadMaximaMiembros}}</p>
          <p>Ubicación: {{comunidad.ubicacion}}</p>
          <p>Género:
            {{ comunidad.genero === 'femenino' ? 'Femenino' :

               comunidad.genero === 'masculino' ? 'Masculino' :
               comunidad.genero === 'sinGenero' ? 'Sin género' :
               comunidad.genero === 'otro' ? 'Otro' : 'Desconocido' }}
          </p>       
          <div class="creador-container" *ngIf="mapaCreadorComunidades.get(comunidad.id)">
            <p class="creador-titulo">Creado por:</p>
            <div class="creador-info">
              <span class="creador-nombre">{{ mapaCreadorComunidades.get(comunidad.id)?.nombreUsuario }}</span>
              <img [src]="mapaCreadorComunidades.get(comunidad.id)?.fotoPerfil || '../../assets/usuario.png'" 
              alt="Foto de perfil" 
              class="creador-foto">
            </div>
          </div>
          <p>
            Moderación:
            <i class="fa"
              [ngClass]="comunidad.esModerada ? 'fa-shield text-danger' : 'fa-check-circle text-success'"></i>
            {{ comunidad.esModerada ? 'Moderada' : 'No moderada' }}
          </p>
          <div class="etiquetas-container">
            <h4 class="etiquetas-title">Etiquetas:</h4>
            <span *ngFor="let etiqueta of comunidad.etiquetas" class="etiqueta">
              {{ etiqueta.nombre }}
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="comunidadesMiembroUsuarioAMostrar.length==0">
        No hay comunidades a las que pertenezcas que cumplan con los filtros seleccionados
      </div>
    </div>
  </div>

</div>