<div class="form-container">
    <h2>Crear Nueva Comunidad</h2>

    <form #form="ngForm">
        <div class="form-group">
            <label for="nombre">Nombre de la Comunidad</label>
            <input id="nombre" [(ngModel)]="comunidad.nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="imagen">Seleccionar imagen</label>
            <input type="file" id="archivo"  [(ngModel)]="comunidad.imagen" (change)="onFileSelect($event)">
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" [(ngModel)]="comunidad.descripcion" name="descripcion"></textarea>
        </div>

        <div class="form-group">
            <label for="cantidadMaximaMeimbros">Cantidad Máxima de miembros</label>
            <input type="number" min="1" id="cantidadMaximaMeimbros" [(ngModel)]="comunidad.cantidadMaximaMiembros"
                name="cantidadMaximaMiembros" required>
        </div>

        <div class="form-group">
            <label for="etiquetas">Buscar Etiquetas:</label>
            <input id="etiquetas" class="form-control" [(ngModel)]="etiquetaSeleccionada"
                [ngbTypeahead]="searchEtiqueta" [resultFormatter]="resultFormatEtiqueta"
                [inputFormatter]="inputFormatEtiqueta" (selectItem)="agregarEtiqueta($event)"
                name="etiquetaSeleccionada" placeholder="Buscar etiqueta" />
        </div>

        <div *ngIf="etiquetasSeleccionadas.length > 0" class="etiquetas-lista">
            <h4>Etiquetas seleccionadas:</h4>
            <ul class="list-group">
                <li *ngFor="let etiqueta of etiquetasSeleccionadas"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    {{ etiqueta.nombre }}
                    <button type="button" class="btn btn-danger btn-sm"
                        (click)="eliminarEtiqueta(etiqueta)">Eliminar</button>
                </li>
            </ul>
        </div>


        <div class="mapa-container">
            <div class="input-container">
                <input type="text" class="form-control" placeholder="Ingresa una dirección"
                    (input)="buscarDireccion($event)" />

                <ul *ngIf="sugerencias.length > 0" class="list-group">
                    <li *ngFor="let sugerencia of sugerencias" (click)="seleccionarDireccion(sugerencia)"
                        class="list-group-item list-group-item-action" style="cursor: pointer;">
                        {{ sugerencia.direccion }} - {{ sugerencia.altura }}, {{ sugerencia.ciudad }}, {{
                        sugerencia.pais }}
                    </li>
                </ul>
            </div>

            <!-- Aquí se mostrará el mapa -->
            <div id="map"></div>
        </div>

        <div class="form-group">
            <label class="padding-top-20">
                <input type="checkbox" [(ngModel)]="comunidad.esPrivada" name="esPrivada">
                ¿La Comunidad es privada?
            </label>
        </div>


        <div class="form-buttons">
            <button type="submit" (click)="saveComunidad()" [disabled]="!isFormValid()" class="btn btn-primary">Guardar
                comunidad</button>
            <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
        </div>
    </form>
    <!-- Mensaje de confirmación o error -->
    <div *ngIf="showMessage" class="alert alert-info">
        {{ messageToShow }}
    </div>
</div>