<div class="perfil-container">
    <h1>{{ comunidad.nombre }}</h1>
    <div class="tabs">
        <button class="tab-button" [ngClass]="{ active: tabSeleccionada === 'publicaciones' }"
            (click)="seleccionarTab('publicaciones')">Publicaciones</button>
        <button class="tab-button" [ngClass]="{ active: tabSeleccionada === 'eventos' }"
            (click)="seleccionarTab('eventos')">Eventos</button>
        <button class="tab-button" [ngClass]="{ active: tabSeleccionada === 'miembros' }"
            (click)="seleccionarTab('miembros')">Miembros</button>
    </div>

    <div class="tab-content">
        <div *ngIf="tabSeleccionada === 'publicaciones'" class="perfil-publicaciones">
            <h3>Publicaciones</h3>
            <button class="btn primary">Publicar</button>

            <div class="publicaciones-grid">
                <div class="publicacion-item" *ngFor="let publicacion of publicaciones"
                    (click)="irADetallePublicacion(publicacion.id)">
                    <div class="publicacion-contenido">
                        <p>{{ publicacion.texto }}</p>
                        <div *ngIf="publicacion.file && publicacion.file.startsWith('data:image')">
                            <img [src]="publicacion.file" alt="Imagen de la publicación" class="publicacion-imagen">
                        </div>
                        <div *ngIf="publicacion.file && publicacion.file.startsWith('data:video')">
                            <video [src]="publicacion.file" controls class="publicacion-video"></video>
                        </div>
                        <div class="publicacion-fecha">{{ publicacion.fechaDeCreacion | date:'medium' }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="tabSeleccionada === 'miembros'" class="perfil-miembros">
            <h3>Miembros</h3>
            <div *ngFor="let miembro of miembrosVisibles">
                <!-- Si no es anónimo, muestra el perfil -->
                <div *ngIf="!miembro.anonimos">
                    <img [src]="miembro.fotoPerfil" alt="{{ miembro.nombreUsuario }}" class="perfil-imagen">
                    <span>{{ miembro.nombreUsuario }}</span>
                </div>
            </div>
            <!-- Mostrar la cantidad de usuarios anónimos -->
            <div *ngIf="usuariosAnonimos > 0">
                <span>{{ usuariosAnonimos }} Usuario{{ usuariosAnonimos > 1 ? 's' : '' }} anónimo{{ usuariosAnonimos > 1 ? 's' : '' }}</span>
            </div>
        </div>
    </div>
</div>
