<div *ngIf="!rutinaTerminada; else rutinaCompletada" class="exercise-container">
    <div *ngIf="ejercicioActual; else noEjercicios">
        <div *ngIf="!enDescanso">
            <h3>{{ ejercicioActual.nombre }}</h3>
            <p>{{ ejercicioActual.descripcion }}</p>
            <p>Cantidad de repeticiones: {{ ejercicioActual.cantidadRepeticiones }}</p>
            <button class="btn" (click)="terminarEjercicio()">Terminado</button>
        </div>

        <div *ngIf="enDescanso" class="rest-container">
            <h3>Descanso</h3>
            <p>Tómate un descanso de {{ tiempoDescanso }} segundos.</p>
            <button class="btn" (click)="terminarEjercicio()">Terminado</button>
        </div>
    </div>

    <ng-template #noEjercicios>
        <p>No hay ejercicios disponibles para esta rutina.</p>
    </ng-template>
</div>

<!-- Mensaje de rutina completada -->
<ng-template #rutinaCompletada>
    <h3>¡Rutina completada!</h3>
    <p>Has terminado todos los ejercicios. ¡Felicidades!</p>
</ng-template>
