.rutina-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-con-estrella {
    display: flex;
    align-items: center; /* Centra verticalmente el texto y la estrella */
    justify-content: center; /* Asegura que ambos estén centrados horizontalmente */
    gap: 10px; /* Espaciado entre el título y la estrella */
}

.titulo-con-estrella h2 {
    margin: 0; /* Elimina márgenes para evitar desplazamientos no deseados */
}

.titulo-con-estrella i {
    margin-left: auto;
}
