<div *ngIf="!rutinaTerminada">
    <div *ngIf="mostrarComenzarDia && diaActual">
        <h2>{{ diaActual.nombre }}</h2>
        <button (click)="comenzarDia()">Comenzar día</button>
    </div>

    <div *ngIf="!mostrarComenzarDia && !mostrarPantallaFinalizacion && diaActual">
        <h2>{{ diaActual.nombre }}</h2>
        <div *ngIf="ejercicioActual">
            <h3>{{ ejercicioActual.nombre }}</h3>
            <p *ngIf="ejercicioActual.descripcion">{{ ejercicioActual.descripcion }}</p>
            <img *ngIf="ejercicioActual.imagen" [src]="ejercicioActual.imagen" alt="{{ ejercicioActual.nombre }}"/>
            <p *ngIf="ejercicioActual.tipo === 'resistencia'">{{ ejercicioActual.tiempo }}</p>
            <p *ngIf="ejercicioActual.tipo === 'series'">{{ ejercicioActual.repeticiones }} series de {{ ejercicioActual.series }}</p>
            <button (click)="terminarEjercicio()">Ejercicio finalizado</button>
        </div>
    </div>

    <div *ngIf="mostrarPantallaFinalizacion">
        <h2>{{ mensajeFinalizacion }}</h2>
        <button *ngIf="!rutinaTerminada" (click)="siguienteDia()">Continuar al siguiente día</button>
    </div>
    
</div>

<div *ngIf="rutinaTerminada">
    <h2>¡Felicidades! Has terminado todos los días de tu rutina.</h2>
</div>
