<div class="form-container">
    <h2>{{ tipo === 'comunidad' ? 'Nueva publicación en comunidad' : 'Nueva publicación' }}</h2>
    <form #form="ngForm" class="evento-form">
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input
          [(ngModel)]="publicacion.texto"
          name="descripcion"
          (input)="onTextChange($event)"
          placeholder="Escribe tu publicación con @ para mencionar usuarios..."
        />
        <!-- Lista de usuarios sugeridos -->
        <ul *ngIf="usuariosFiltrados.length > 0" class="suggestions">
          <li *ngFor="let usuario of usuariosFiltrados" (click)="addUsuario(usuario)">
            {{ usuario.usuario.nombreUsuario }}
          </li>
        </ul>
      </div>
  
      <!-- Área de arrastrar y soltar o eliminar archivo -->
      <div *ngIf="!formatoValido" class="drag-drop-area" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
        <p>Arrastra y suelta una imagen o video aquí, o selecciona uno desde tus archivos.</p>
        <input type="file" id="archivo" (change)="onFileSelect($event)" hidden #fileInput />
        <button type="button" (click)="fileInput.click()">Seleccionar archivo</button>
      </div>
  
      <!-- Vista previa y botón de eliminar -->
      <div *ngIf="formatoValido">
        <img *ngIf="tipoArchivo === 'image'" [src]="vistaPreviaArchivo" alt="Vista previa de la imagen" />
        <video *ngIf="tipoArchivo === 'video'" [src]="vistaPreviaArchivo" controls></video>
        <button type="button" (click)="eliminarArchivo()" class="btn btn-danger mt-2">Eliminar archivo</button>
      </div>
  
      <div class="form-buttons">
        <button type="button" (click)="savePublicacion()" class="btn btn-success" [disabled]="!publicacionValida()">
          Publicar
        </button>
        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
  