.heart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heart {
  width: 100px;
  height: 100px;
  position: relative;
  transform: rotate(-45deg);
  background-color: #ccc;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 50px;
}

.heart.active {
  background-color: red;
}

.heart.active::before,
.heart.active::after {
  background-color: red;
}
.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.comment-icon {
  cursor: pointer;
}

.comment-image {
  width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 30px;
}

textarea {
  width: 300px;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

p {
  font-size: 18px;
  margin-top: 10px;
}


.comments-section {
  margin-top: 20px;
}

.comment {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.likes-count {
  font-size: 14px;
  color: #666;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}

.username {
  font-size: 12px;
  font-weight: bold;
  color: #3897f0;
}

.date {
  font-size: 10px;
  color: #999;
}

.comment-text {
  font-size: 14px;
  margin: 0;
  color: #262626;
}

.custom-dialog .likes-list-container {
  max-height: 300px; /* Ajusta según lo necesites */
  overflow-y: auto; /* Habilita desplazamiento vertical */
}
