<div class="form-container">
  <div class="header" style="display: flex; align-items: center; margin-bottom: 20px;">
    <a [routerLink]="['/perfil', publicadoPor.id]" style="text-decoration: none; display: flex; align-items: center;">
      <img [src]="publicadoPor.fotoPerfil ? publicadoPor.fotoPerfil : '../../assets/usuario.png' "
        style="width: 50px; height: 50px; border-radius: 50%; margin-right: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
      >
    </a>
    <div>
      <a [routerLink]="['/perfil', publicadoPor.id]"
        style="text-decoration: none; color: #333; font-weight: bold; font-size: 16px;">
        {{ publicadoPor.nombreUsuario }}
      </a>
      <p style="margin: 0; font-size: 12px; color: #999;">Publicado el {{ publicacion.fechaDeCreacion |
        date:'mediumDate' }}</p>
    </div>
  </div>

  <p><strong></strong> {{ publicacion.texto }}</p>

  <div *ngIf="publicacion.file && publicacion.file.startsWith('data:image')">
    <img [src]="publicacion.file" alt="Imagen de la publicación" style="max-width: 400px; max-height: 400px;">
  </div>

  <div *ngIf="publicacion.file && publicacion.file.startsWith('data:video')">
    <video [src]="publicacion.file" controls style="max-width: 400px; max-height: 400px;"></video>
  </div>

  <div class="interaction-container">
    <div class="heart-container">
      <i class="heart" [ngClass]="isLiked ? 'fas fa-heart liked' : 'far fa-heart'" (click)="toggleLike()">
      </i>
      <span class="likes-count" (click)="abrirModalLikes()">{{ numeroLikes }} Usuarios le dieron like</span>

      <div class="comment-icon">
        <i class="fa fa-comment"></i>
      </div>
    </div>


    <div *ngIf="showCommentInput" class="comment-input-container">
      <textarea [(ngModel)]="comment" class="form-control" placeholder="Escribe tu comentario aquí"></textarea>
      <button class="btn btn-success" (click)="submitComment()">Enviar</button>
    </div>



    <div class="comments-section" style="font-family: Arial, sans-serif;">
      <div *ngFor="let com of comentarios" class="comment"
        style="margin-bottom: 20px; padding: 15px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); position: relative;">

        <!-- Encabezado del comentario -->
        <div class="comment-header" style="display: flex; align-items: center; margin-bottom: 10px;">
          <a [routerLink]="['/perfil', com.usuario.id]"
            style="text-decoration: none; display: flex; align-items: center;">
            <img [src]="com.usuario.fotoPerfil ? com.usuario.fotoPerfil : '../../assets/usuario.png'"
              style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px; border: 2px solid #ddd;">
          </a>
          <div>
            <a [routerLink]="['/perfil', com.usuario.id]" style="text-decoration: none; color: #007bff;">
              <span class="username" style="font-size: 14px; font-weight: bold;">{{ com.usuario.nombreUsuario }}</span>
            </a>
            <span class="date" style="font-size: 12px; color: #888; display: block;">{{ com.fecha | date:'short'
              }}</span>
          </div>
        </div>

        <!-- Texto del comentario -->
        <p class="comment-text" style="font-size: 14px; margin: 0 0 10px; color: #333;">{{ com.texto }}</p>

        <!-- Botón para responder -->
        <button (click)="toggleCommentInput(com.id)"
          style="font-size: 12px; color: #007bff; background: none; border: none; cursor: pointer; padding: 5px 15px; margin-right: 20px;">
          Responder
        </button>

        <div class="likes-container" style="display: flex; align-items: center; margin-top: 10px;">
          <i class="heart"
             [ngClass]="com.estaLikeado ? 'fas fa-heart liked' : 'far fa-heart'"
             (click)="toggleLikeComentario(com)">
          </i>
          <span class="likes-count" style="margin-left: 8px;">{{ com.cantidadLikes || 0 }} likes</span>
        </div>

        <!-- Botón de eliminar comentario -->
        <i *ngIf="puedeEliminarComentario(com)" class="fa fa-trash delete-icon"
          (click)="eliminarComentario(com.id); $event.stopPropagation()"
          style="position: absolute; top: 5px; right: 10px; font-size: 20px; color: red; cursor: pointer;">
        </i>

        <!-- Campo para ingresar la respuesta -->
        <div *ngIf="com.id === currentCommentId && showReplyInput" class="comment-input-container"
          style="margin-top: 10px; padding: 10px; background-color: #f1f1f1; border-radius: 8px;">
          <textarea [(ngModel)]="replyText" class="form-control" placeholder="Escribe tu respuesta aquí"
            style="width: 100%; border-radius: 5px; padding: 10px; border: 1px solid #ddd;"></textarea>
          <button class="btn btn-primary" (click)="submitReply(com.id)"
            style="margin-top: 5px; float: right;">Enviar</button>
        </div>

        <!-- Mostrar respuestas -->
        <div *ngFor="let reply of respuestaPaginacion[com.id]?.respuestas" class="reply"
          style="margin-top: 15px; margin-left: 20px; padding: 15px; background-color: #e7f3ff; border-radius: 8px; position: relative;">
          <!-- Encabezado de la respuesta -->
          <div class="reply-header" style="display: flex; align-items: center; margin-bottom: 5px;">
            <a [routerLink]="['/perfil', reply.usuario.id]"
              style="text-decoration: none; display: flex; align-items: center;">
              <img [src]="reply.usuario.fotoPerfil || '../assets/usuario.png'"
                style="width: 30px; height: 30px; border-radius: 50%; margin-right: 8px; border: 1px solid #bbb;">
            </a>
            <div>
              <a [routerLink]="['/perfil', reply.usuario.id]" style="text-decoration: none; color: #0056b3;">
                <span class="username" style="font-size: 12px; font-weight: bold;">{{ reply.usuario.nombreUsuario
                  }}</span>
              </a>
              <span class="date" style="font-size: 10px; color: #666; display: block;">{{ reply.fecha | date:'short'
                }}</span>
            </div>
            <div class="likes-container" style="display: flex; align-items: center; margin-top: 10px;">
              <i class="heart"
                 [ngClass]="reply.estaLikeado ? 'fas fa-heart liked' : 'far fa-heart'"
                 (click)="toggleLikeComentario(reply)">
              </i>
              
              <span class="likes-count" style="margin-left: 16px;">{{ reply.cantidadLikes }} likes</span>
            </div>
          </div>

          <!-- Texto de la respuesta -->
          <p class="reply-text" style="font-size: 13px; margin: 0; color: #444;">{{ reply.texto }}</p>

          <!-- Botón de eliminar respuesta -->
          <i *ngIf="puedeEliminarComentario(reply)" class="fa fa-trash delete-icon"
            (click)="eliminarComentario(reply.id); $event.stopPropagation()"
            style="position: absolute; top: 5px; right: 10px; font-size: 20px; color: red; cursor: pointer;">
          </i>
        </div>

        <!-- Botón para cargar más respuestas -->
        <button *ngIf="hayMasRespuestas(com.id)" (click)="cargarRespuestas(com)"
          style="font-size: 12px; color: #007bff; background: none; border: none; cursor: pointer; margin-top: 15px; padding: 5px 20px;">
          Cargar más respuestas ({{ respuestasRestantes(com.id) }})
        </button>
        <!-- Botón para mostrar/ocultar respuestas -->
        <button *ngIf="respuestaPaginacion[com.id]?.mostrarRespuestas && loadedMoreReplies[com.id]"
          (click)="toggleReplies(com.id)"
          style="font-size: 12px; color: #007bff; background: none; border: none; cursor: pointer; margin-top: 15px; padding: 5px 20px;">
          Ocultar respuestas
        </button>
      </div>
    </div>







    <button *ngIf="isOwnPublication" (click)="deletePublicacion()" class="btn btn-danger">
      Eliminar publicación
    </button>

  </div>

</div>


<ng-template #modalLikes>
  <div class="modal-header">
    <h5 class="modal-title">Usuarios que dieron like</h5>
    <button type="button" class="close btn-close" (click)="cerrarModal()" aria-label="Close"></button>
  </div>

  <div class="modal-body likes-list-container" (scroll)="onScroll($event)">
    <div *ngFor="let usuario of usuariosLikes" class="like-item d-flex align-items-center p-2 border-bottom">
      <a [routerLink]="['/perfil', usuario.id]" style="text-decoration: none; display: flex; align-items: center;"
        (click)="cerrarModal()">
        >
        <img [src]="usuario.fotoPerfil ? usuario.fotoPerfil : '../../assets/usuario.png' "
          style="width: 30px; height: 30px; border-radius: 50%; margin-right: 8px;">
      </a>
      <a [routerLink]="['/perfil', usuario.id]" style="text-decoration: none; color: #000000;" (click)="cerrarModal()">
        >
        <span class="username" style="font-size: 12px; font-weight: bold;">{{ usuario.nombreUsuario }}</span>
      </a>
    </div>
    <div *ngIf="loadingLikes" class="text-center mt-3">
      <span>Cargando...</span>
    </div>

    <div *ngIf="!loadingLikes && !noMasUsuarios" class="text-center mt-3">
      <button class="btn btn-primary" (click)="cargarUsuariosLikes()">Cargar más</button>
    </div>

    <div *ngIf="noMasUsuarios" class="text-muted text-center mt-3">
      No hay más likes para mostrar.
    </div>
  </div>



  <div *ngIf="usuariosLikes.length === 0 && !loadingLikes" class="text-muted text-center mt-3">
    No hay likes en esta publicación.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
  </div>
</ng-template>