<div class="form-container">
  <h2>Detalles de la publicación</h2>

  <p><strong>Texto:</strong> {{ publicacion.texto }}</p>

  <div *ngIf="publicacion.file && publicacion.file.startsWith('data:image')">
    <p><strong>Imagen:</strong></p>
    <img [src]="publicacion.file" alt="Imagen de la publicación" style="max-width: 400px; max-height: 400px;">
  </div>

  <div *ngIf="publicacion.file && publicacion.file.startsWith('data:video')">
    <p><strong>Video:</strong></p>
    <video [src]="publicacion.file" controls style="max-width: 400px; max-height: 400px;"></video>
  </div>
  
  <div class="interaction-container">
    <div class="icons-container">
      <div class="heart" (click)="toggleLike()" [ngClass]="{'liked': isLiked}">
        <i class="fa" [ngClass]="isLiked ? 'fa-heart' : 'fa-heart-o'"></i>
      </div>
      <div class="comment-icon" (click)="showCommentInput = !showCommentInput">        <i class="fa fa-comment"></i>
      </div>
    </div>

    <div *ngIf="showCommentInput" class="comment-input-container">
      <textarea [(ngModel)]="comment" class="form-control" placeholder="Escribe tu comentario aquí"></textarea>
      <button class="btn btn-success" (click)="submitComment()">Enviar</button>
    </div>

    <div class="comments-container">
      <div *ngFor="let comment of displayedComments" class="comment">
        <p>{{ comment }}</p>
      </div>
    </div>
  
    <button *ngIf="displayedComments.length < comments.length" class="btn btn-primary mt-2" (click)="loadMoreComments()">Ver más</button>
  </div>
</div>