<h1>Sugerencias de amigos</h1>

<div class="wrapper">
  <section class="carousel">
    <div class="carousel-container">
      <div class="card" [routerLink]="['/perfil', usuario.id]" *ngFor="let usuario of obtenerUsuariosParaMostrar() " 
      [style.background-image]="'url(' + (usuario.fotoPerfil ? usuario.fotoPerfil : '../../assets/usuario.png') + ')'">
        <div class="evento-card clickable">
          <div class="evento-details">
            <h3>{{ usuario.nombreReal }}</h3>
            <p>{{ usuario.nombreUsuario }}</p>
            <p>{{ usuario.descripcion }}</p>

            <!-- Motivo estilizado -->
            <div class="motivo-container" *ngIf="motivos[usuario.id]">
              <p class="motivo-text">Motivo: "{{ motivos[usuario.id] }}"</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Controles del carrusel -->
    <button class="carousel-control prev" (click)="usuarioAnterior()" [disabled]="results.length === 0">‹</button>
    <button class="carousel-control next" (click)="siguienteUsuario()" [disabled]="results.length === 0">›</button>
  </section>
</div>
