<h1>
    Sugerencias de amigos
</h1>

<section class="carousel">
    <div class="carousel-container">
      <div class="carousel-item" *ngFor="let evento of obtenerEventosParaMostrar()" class="evento-item">
        <div class="evento-card clickable">
          <div class="evento-details">
            <h3>{{ evento.nombreReal }}</h3>
            <p>{{ evento.nombreUsuario }}</p>
            <p>{{ evento.descripcion }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Controles del carrusel -->
    <button class="carousel-control prev" (click)="eventoAnterior()" [disabled]="results.length === 0">‹</button>
    <button class="carousel-control next" (click)="siguienteEvento()" [disabled]="results.length === 0">›</button>
  </section>
