.carousel {
    position: relative;
    width: 100vh;
    height: 50vh; /* Ajusta a toda la altura de la ventana */
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease; /* Para animar el desplazamiento */
    height: auto;
  }
  
  .carousel-item {
    flex: 0 0 100%; /* Cada item ocupa todo el ancho */
    height: 100%;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    position: relative;
  }
  
  .large-event {
    flex: 0 0 100%; /* La primer rutina ocupa toda la pantalla */
  }
  
  .mini-event {
    flex: 0 0 25%; /* Las mini rutinas ocupan 1/4 de la pantalla */
    height: 150px; /* Altura fija para las mini rutinas */
  }
  
  .rutina-card {
    padding: 20px;
    margin: 10px;
    background-color: #fff5c4; /* Color amarillento */
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .rutina-details {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .carousel-control {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 1000; /* Asegura que los botones estén por encima del contenido */
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .indice-actual {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .clickable {
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
  }
  
  .carousel-item {
    position: relative;
    z-index: 1; /* Asegura que los elementos sean interactivos */
  }
  
  .rutina-card {
    padding: 20px;
    background-color: #fff5c4; /* Color amarillento */
    border-radius: 8px;
    transition: transform 0.2s;
  }
  
  .rutina-card:hover {
    transform: scale(1.05); /* Pequeña animación para indicar que es clickeable */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .etiquetas {
    margin-top: 10px; /* Espacio encima de las etiquetas */
  }
  
  .etiqueta {
    display: inline-block; /* Para que las etiquetas estén en línea */
    background-color: #f0f0f0; /* Color de fondo */
    border-radius: 3px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    margin-right: 5px; /* Espaciado entre etiquetas */
    font-size: 14px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
  }