<h1 class="title">Sugerencias de Comunidades</h1>

<section class="event-list">
  <div *ngFor="let comunidad of results" class="event-item">
    <div class="event-card">
      <img [src]="comunidad.imagen ? comunidad.imagen : '../../assets/comunidad.jpg'" alt="{{ comunidad.nombre }}"
        class="event-image"[routerLink]="['/comunidad-muro', idEncryptorService.encodeId(comunidad.id)]" />
      <div class="event-content">
        <h3 class="event-name">{{ comunidad.nombre }}</h3>
        <p class="event-motive" *ngIf="motivos[comunidad.id]">
          <i class="fa fa-search event-icon" (click)="openMotivoModal(comunidad.id)"></i>
          Motivo: "{{ formatMotivo(motivos[comunidad.id].toString()) }}"
        </p>
        <p class="event-motive" *ngIf="!motivos[comunidad.id]">Motivo no disponible</p>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isModalOpen" class="modal-overlay" (click)="closeMotivoModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3>Motivo de {{ comunidadSeleccionada?.nombre }}</h3>
    <p><span [innerHTML]="formatMotivo(motivos[comunidadSeleccionada?.id].toString())"></span></p>
    <button class="close-btn" (click)="closeMotivoModal()">Cerrar</button>
  </div>
</div>
  <!-- Paginación con el componente de paginación -->
  <app-pagination 
  [totalPages]="totalPages" 
  [currentPage]="page+1" 
  (pageChangeRequested)="onPageChangeRequested($event)"
  [number]="page" 
  [hidden]="elementos < 1 || totalPages <= 1">
  </app-pagination>
