<h1>
  Sugerencias de rutinas
</h1>

<section class="carousel">
  <div class="carousel-container">
    <div *ngFor="let rutina of obtenerRutinasParaMostrar()" class="carousel-item evento-item">
      <div class="evento-card clickable" [routerLink]="['/rutinas', rutina.id]">
        <div class="evento-details">
          <h3>{{ rutina.nombre }}</h3>
          <p>{{ rutina.descripcion }}</p>
          <div class="motivo-container" *ngIf="rutina.id !== undefined && motivos[rutina.id]">
            <p class="motivo-text">Motivo: "{{ motivos[rutina.id] }}"</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Controles del carrusel -->
  <button class="carousel-control prev" (click)="rutinaAnterior()" [disabled]="sugerencias.length === 0">‹</button>
  <button class="carousel-control next" (click)="siguienteRutina()" [disabled]="sugerencias.length === 0">›</button>
</section>
