<div class="form-container">
  <h2>Crear Nuevo Evento</h2>
  <form [formGroup]="formEvento" (ngSubmit)="onSubmit()">

    <!-- Nombre del Evento -->
    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Nombre del Evento</mat-label>
      <input matInput name="nombre" formControlName="nombre" required [(ngModel)]="evento.nombre">
      <mat-error *ngIf="formEvento.get('nombre')?.hasError('required')">
        El nombre del evento es requerido
      </mat-error>
    </mat-form-field>



    <div *ngIf="evento.imagen === '' || evento.imagen == null" class="drag-drop-area" (dragover)="onDragOver($event)"
      (drop)="onDrop($event)">
      <p>Arrastra y suelta una imagen o video aquí, o selecciona uno desde tus archivos.</p>
      <input type="file" id="archivo" (change)="onFileSelect($event)" hidden #fileInput>
      <button type="button" (click)="fileInput.click()">Seleccionar archivo</button>
    </div>
    <div *ngIf="formatoValido && evento.imagen!='' && evento.imagen!=null" class="drag-drop-area">
      <img [src]="evento.imagen" alt="Vista previa de la imagen" class="vista-previa-imagen">
      <button type="button" (click)="eliminarArchivo()" class="btn btn-danger mt-2">Eliminar archivo</button>
    </div>




    <!-- Fecha y Hora del Evento -->
    <mat-form-field appearance="outline">
      <mat-label>Fecha y Hora del Evento</mat-label>
      <input matInput type="datetime-local" id="fechaHora" name="fechaHora" [min]="minFechaHora"
        formControlName="fechaHora" required [(ngModel)]="evento.fechaHora">
      <mat-error *ngIf="formEvento.get('fechaHora')?.hasError('invalidDate')">
        La fecha debe ser mayor a hoy
      </mat-error>
      <mat-error *ngIf="formEvento.get('fechaHora')?.hasError('required')">
        La fecha y hora del evento son requeridas
      </mat-error>
    </mat-form-field>

    <!-- Género -->
    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Género</mat-label>
      <mat-select [(ngModel)]="evento.genero" formControlName="genero" required>
        <mat-option value="" disabled>Seleccione un género</mat-option>
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="femenino">Femenino</mat-option>
        <mat-option value="otros">Otros</mat-option>
        <mat-option value="sinGenero">Sin género</mat-option>
      </mat-select>
      <mat-error *ngIf="formEvento.get('genero')?.hasError('required')">
        El género es requerido
      </mat-error>
      <mat-error>
        El género no se podrá cambiar.
      </mat-error>
    </mat-form-field>



    <!-- Descripción -->
    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="evento.descripcion" formControlName="descripcion" name="descripcion">
    </mat-form-field>

    <!-- Cantidad Máxima de Participantes -->
    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Cantidad Máxima de Participantes</mat-label>
      <input matInput type="number" min="1" name="cantidadMaximaParticipantes" required
        formControlName="cantidadMaximaParticipantes" [(ngModel)]="evento.cantidadMaximaParticipantes">
      <mat-error *ngIf="formEvento.get('cantidadMaximaParticipantes')?.hasError('required')">
        La cantidad máxima de participantes es requerida y debe ser un número positivo
      </mat-error>
    </mat-form-field>

    <!-- Buscar Etiquetas -->
    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Buscar Etiquetas:</mat-label>
      <input #etiquetasInput matInput id="etiquetas" [ngbTypeahead]="searchEtiqueta" [resultFormatter]="resultFormatEtiqueta"
        [inputFormatter]="inputFormatEtiqueta" (selectItem)="agregarEtiqueta($event)" name="etiquetaSeleccionada"
        placeholder="Buscar etiqueta" [(ngModel)]="etiquetaSeleccionada" [ngModelOptions]="{standalone: true}"
        [container]="'body'" />

      <footer *ngIf="etiquetasSeleccionadas.length==0" class="mat-error-custom">
        Al menos una etiqueta es requerida
      </footer>
      <footer *ngIf="etiquetasSeleccionadas.length>15" class="mat-error-custom">
        No puedes ingresar mas de 15 etiquetas
      </footer>
    </mat-form-field>




    <div class="selected-tags">
      <span *ngFor="let etiqueta of etiquetasSeleccionadas" class="tag">
        {{ etiqueta.nombre }}
        <button (click)="eliminarEtiqueta(etiqueta)" class="remove-tag">
          &times;
        </button>
      </span>
    </div>

    <!-- Sección de búsqueda de direcciones y mapa -->
    <div class="mapa-container">
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Ubicación del Evento</mat-label>
        <input matInput type="text" class="form-control" placeholder="Ingresa una dirección"
          (input)="buscarDireccion($event)" />
        <ul *ngIf="sugerencias.length > 0" class="list-group">
          <li *ngFor="let sugerencia of sugerencias" (click)="seleccionarDireccion(sugerencia)"
            class="list-group-item list-group-item-action" style="cursor: pointer;">
            {{ sugerencia.direccion }} - {{ sugerencia.altura }}, {{ sugerencia.ciudad }}, {{ sugerencia.pais }}
          </li>
        </ul>
      </mat-form-field>

      <div class="form-group">
        <div id="map"></div>
      </div>

    </div>

    <!-- Botones -->
    <div class="form-buttons">
      <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
      <button type="button" (click)="saveEvento()" [disabled]="!isFormValid()" class="btn btn-success">Guardar
        Evento</button>
    </div>

  </form>
</div>