<div class="form-container">
    <h2>Editar evento</h2>
    <form #form="ngForm" class="evento-form">
  
      <div class="form-group">
        <label for="nombre">Nombre del Evento</label>
        <input [(ngModel)]="evento.nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="imagen">Seleccionar imagen</label>
        <input type="file" id="archivo" [(ngModel)]="evento.imagen" (change)="onFileSelect($event)" name="imagen">
      </div>
  
  
      <div class="form-group">
        <label for="evento.fechaHora">Fecha y Hora del Evento</label>
        <input type="datetime-local" id="fechaHora" [(ngModel)]="evento.fechaHora" name="fechaHora" [min]="minFechaHora"
          required>
      </div>
  
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input [(ngModel)]="evento.descripcion" name="descripcion">
      </div>
  
      <div class="form-group">
        <label for="cantidadMaximaParticipantes">Cantidad Máxima de Participantes</label>
        <input type="number" 
               [min]="maxParticipantes" 
               [(ngModel)]="evento.cantidadMaximaParticipantes" 
               name="cantidadMaximaParticipantes"
               #cantidadMaxima="ngModel"
               required>
        <div class="alert alert-danger" 
             *ngIf="evento.cantidadMaximaParticipantes < participantes">
          La cantidad máxima de participantes no puede ser menor a los participantes ya inscriptos ({{participantes}})
        </div>
      </div>
  
      <div class="form-group">
        <label for="etiquetas">Buscar Etiquetas:</label>
        <input id="etiquetas" class="form-control" [(ngModel)]="etiquetaSeleccionada"
          [ngbTypeahead]="searchEtiqueta" [resultFormatter]="resultFormatEtiqueta" [inputFormatter]="inputFormatEtiqueta"
          (selectItem)="agregarEtiqueta($event)" name="etiquetaSeleccionada" placeholder="Buscar etiqueta" />
      </div>
  
      <div *ngIf="etiquetasSeleccionadas.length > 0" class="etiquetas-lista">
        <h4>Etiquetas seleccionadas:</h4>
        <ul class="list-group">
          <li *ngFor="let etiqueta of etiquetasSeleccionadas"
            class="list-group-item d-flex justify-content-between align-items-center">
            {{ etiqueta.nombre }}
            <button type="button" class="btn btn-danger btn-sm" (click)="eliminarEtiqueta(etiqueta)">Eliminar</button>
          </li>
        </ul>
      </div>
  
      <!-- Sección de búsqueda de direcciones y mapa -->
      <div class="mapa-container">
        <div class="input-container">
            <label for="direccion" class="padding-top-20">Ubicación del Evento</label>
            <input type="text" class="form-control padding-top-20" placeholder="Ingresa una dirección" (input)="buscarDireccion($event)" />
            <ul *ngIf="sugerencias.length > 0" class="list-group">
                <li *ngFor="let sugerencia of sugerencias" (click)="seleccionarDireccion(sugerencia)"
                    class="list-group-item list-group-item-action" style="cursor: pointer;">
                    {{ sugerencia.direccion }} - {{ sugerencia.altura }}, {{ sugerencia.ciudad }}, {{ sugerencia.pais }}
                </li>
            </ul>
        </div>
        
        <div class="form-group">
          <div id="map"></div>
        </div>
        
      </div>
  
      <div class="form-buttons">
        <button type="button" (click)="saveEvento()" class="btn btn-success" [disabled]="!isFormValid()">Guardar
          Evento</button>
        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>