<div class="container evento-detail-container">
  <div class="row justify-content-center">
      <div class="card shadow-sm mt-4">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">{{ evento.nombre }}</h2>
          <p><strong>Fecha de creación:</strong> {{ evento.fechaDeCreacion | date:'dd-MM-yyyy' : '+00:00'}}</p>
          <p><strong>Fecha y hora:</strong> {{ evento.fechaHora | date:'short' }}</p>
          <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
          <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
          <p><strong>Cantidad máxima de participantes:</strong> {{ evento.cantidadMaximaParticipantes }}</p>

          <!-- Botón de Inscribirse -->
          <button (click)="inscribirse()" class="btn btn-primary btn-block inscribirse-button"  [disabled]="!inscribirseValid()">Inscribirse</button>
          
          <!-- Botón de regresar -->
          <button (click)="goBack()" class="btn btn-secondary btn-block mt-2">Volver</button>
        </div>
      </div>
    </div>
  </div>
