<div class="container evento-detail-container">
  <div class="row justify-content-center">
    <div class="card shadow-sm mt-4">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">{{ evento.nombre }}</h2>
        <p><strong>Fecha de creación:</strong> {{ evento.fechaDeCreacion | date:'dd-MM-yyyy' : '+00:00'}}</p>
        <p><strong>Fecha y hora:</strong> {{ evento.fechaHora | date:'short' }}</p>
        <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
        <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
        <p><strong>Cantidad máxima de participantes:</strong> {{ evento.cantidadMaximaParticipantes }}</p>


        <button class="btn btn-success btn-block ingresar-button"
          [disabled]="isLoading || !(inscribirseValid() || salirValid())"
          (click)="salirValid() ? salir() : inscribirse()">
          <!-- Mostrar texto según la funcionalidad -->
          {{ salirValid() ? 'Desinscribirse' : 'Inscribirse' }}
        </button>

        <ng-container *ngIf="creador">
          <h3>Miembros</h3>
          <ul>
            <li *ngFor="let miembro of miembros">
              {{ miembro.nombreUsuario }}

              <!-- Los creadores pueden gestionar roles de administrador
            -->
              <!-- Solo creadores pueden eliminar miembros -->
              <button *ngIf="(creador)" (click)="eliminarMiembro(miembro)">Eliminar Miembro</button>
            </li>
          </ul>
        </ng-container>

        <button  *ngIf="creador" class="btn btn-primary" (click)="editarEvento()">Editar</button>
        <button *ngIf="creador" (click)="eliminarEvento()" class="btn btn-danger">Eliminar Comunidad</button>



        <div *ngIf="isLoading" aria-label="Orange and tan hamster running in a metal wheel" role="img"
          class="wheel-and-hamster">
          <div class="wheel"></div>
          <div class="hamster">
            <div class="hamster__body">
              <div class="hamster__head">
                <div class="hamster__ear"></div>
                <div class="hamster__eye"></div>
                <div class="hamster__nose"></div>
              </div>
              <div class="hamster__limb hamster__limb--fr"></div>
              <div class="hamster__limb hamster__limb--fl"></div>
              <div class="hamster__limb hamster__limb--br"></div>
              <div class="hamster__limb hamster__limb--bl"></div>
              <div class="hamster__tail"></div>
            </div>
          </div>
          <div class="spoke"></div>
        </div>
        <!-- 
        <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="24" color="primary"  class="spinner">
        </mat-progress-spinner>
        Botón de regresar -->
        <button (click)="goBack()" class="btn btn-secondary btn-block mt-2" [disabled]="isLoading">Volver</button>
      </div>
    </div>
  </div>
</div>