<div class="eventos-container" *ngIf="eventosUsuario.length > 0; else noEventos">
  <h2 class="titulo-eventos"> Eventos Creados por Ti</h2>
  <div class="eventos-list" (scroll)="onScroll()">
    <div class="evento-card" *ngFor="let evento of eventosUsuario">
      <div class="imagen-container">
        <img 
          [src]="evento.imagen ? evento.imagen : '../../assets/evento.webp'" 
          alt="{{ evento.nombre }}" 
          class="evento-imagen" 
        />

      </div>
      <div class="evento-detalles">
        <h3 class="evento-nombre">{{ evento.nombre }}</h3>
        <p class="ubicacion">
          <span class="material-icons">location_on</span> {{ evento.ubicacion }}
        </p>
        <p class="fecha-hora">
          <span class="material-icons">calendar_today</span> {{ evento.fechaHora | date: 'EEEE, dd MMMM yyyy, h:mm a' }}
        </p>
        <div class="etiquetas-container">
          <h4 class="etiquetas-title">Etiquetas:</h4>
          <span *ngFor="let etiqueta of evento.etiquetas" class="etiqueta">
            {{ etiqueta.nombre }}
          </span>
        </div>
        <button class="detalles-btn" (click)="irADetallesDelEvento(evento.id)">Ver Detalles</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noEventos>
  <div class="no-eventos">
    <p class="mensaje-no-eventos">No tienes eventos creados. ¡Anímate a crear uno! 🚀</p>
  </div>
</ng-template>
