/* Asegura que el contenedor ocupe toda la pantalla */
html, body {
  height: 100%;
  margin: 0;
}

/* Elimina bordes y establece el fondo oscuro en todos los niveles del modal */
#notificacionModal {
  display: block !important; /* Para asegurar que se muestre correctamente */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
  border: none; /* Sin bordes */
  box-shadow: none; /* Elimina sombras adicionales */
}

/* Asegúrate de que el modal-content no tenga bordes o sombras */
.modal-content {
  border: none;
  box-shadow: none;
  background-color: #15202b; /* Color uniforme oscuro */
}

/* Opcional: Si la línea blanca es parte del "fade" */
.modal.fade.show {
  background-color: transparent !important; /* Asegura que el fondo no sea blanco */
}

.modal-dialog {
  margin-top: 0; /* Asegura que no haya separación entre el modal y la pantalla */
}

/* Fondo general del modal */
.bg-dark-custom {
  background-color: #15202b; /* Color base oscuro */
  color: #e1e8ed; /* Texto claro */
}

/* Fondo de los inputs */
.bg-dark-input {
  background-color: #192734; /* Más oscuro que el fondo principal */
  color: #e1e8ed; /* Texto claro */
}

/* Resaltar el título */
.text-highlight {
  color: #1da1f2; /* Azul vibrante para destacar */
}

/* Botón cancelar */
.btn-cancel {
  background-color: #657786; /* Gris oscuro */
  color: #e1e8ed;
  border: 1px solid #657786;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.btn-cancel:hover {
  background-color: #57606a; /* Más oscuro al pasar el cursor */
  color: #ffffff;
}

/* Botón enviar */
.btn-highlight {
  background-color: #1da1f2; /* Azul brillante */
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.btn-highlight:hover {
  background-color: #0d95e8; /* Más brillante al pasar el cursor */
}

/* Bordes de sección del modal */
.modal-header, .modal-footer {
  border-color: #39444d; /* Gris oscuro */
}


.modal-header .btn-close {
  position: absolute;
  top: 0.5rem; /* Ajusta la distancia desde la parte superior */
  right: 0.5rem; /* Ajusta la distancia desde la derecha */
  z-index: 1; /* Asegura que siempre esté encima */
}

.btn-cancel {
  background-color: #f8f9fa; /* Fondo similar a btn-secondary */
  color: #212529; /* Texto oscuro */
  border: 1px solid #ced4da; /* Borde claro */
  padding: 0.5rem 1rem; /* Ajustar el relleno */
  border-radius: 0.25rem; /* Bordes redondeados */
}

.btn-cancel:hover {
  background-color: #e2e6ea; /* Fondo más oscuro al pasar el cursor */
  color: #212529;
}

.modal-footer {
  justify-content: flex-start; /* Alinear contenido a la izquierda */
}


.evento-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 50px; /* Reduce el padding para que no se vea tan grande */
  background-color: #ffffff;
  border-radius: 8px;
  width: 190%; /* Ajusta al ancho total */
  height: 100%; /* Ajusta al alto total */
  margin: 0; /* Elimina el margen */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Para que el padding no afecte el tamaño total */
}

.mx-auto {
  display: block;
  margin: 0 auto;
}

.modal-header {
  position: relative;
  display: flex;
  justify-content: center;
}

.btn-close {
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  color: #6c757d;
}

.btn-close:hover {
  color: #dc3545;
}

.evento-detail {
  width: 100%; /* Ocupa el ancho completo */
  max-width: 600px; /* Limita el contenido internamente */
}

.evento-detail h2 {
  text-align: center;
  color: #000000;
}

.evento-detail p {
  font-size: 1.1em;
  margin-bottom: 8px;
  text-align: center; /* Centra el texto */
}

.inscribirse-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inscribirse-button:hover {
  background-color: #0056b3;
}

.btn-secondary {
  display: block;
  margin: 10px auto;
}



.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 10px;
}


.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
		linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

/* Estilo para el botón de invitación */
.animate-btn {
  transition: transform 0.2s ease-in-out;
}
.animate-btn:active {
  transform: scale(1.1);
}

/* Estilo para la ventana modal */
.modal-body {
  max-height: 60vh;
  overflow-y: auto;
}
.modal-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #007bff;
}

.perfil-imagen {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  vertical-align: middle;
}

.miembro-item {
  background-color: #e3f2fd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
  
  /* Propiedades de Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.miembro-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}
.miembro-item h4 {
  font-size: 1em;
  color: #333;
  margin: 0;
}
.members-list {
  overflow-y: auto;
  max-height: 400px;  /* Puedes ajustar este valor según el diseño */
}