<div class="eventos-container">
  <h2 class="titulo-eventos"> Eventos Creados por Ti</h2>
  <div class="search-container">
    <input type="text" placeholder="Buscar eventos por nombre" #searchInput
      (input)="onSearchInputEventos(searchInput.value)" class="form-control search-input" [(ngModel)]="searchText" />
    <i class="fas fa-search search-icon"></i>
  </div>
  <div class="eventos-list" (scroll)="onScroll()" *ngIf="eventosUsuario.length > 0; else noEventos">
    <div class="evento-card" *ngFor="let evento of eventosUsuario">
      <div class="imagen-container">
        <img [src]="evento.imagen ? evento.imagen : '../../assets/evento.webp'" alt="{{ evento.nombre }}"
          class="evento-imagen" />

      </div>
      <div class="evento-detalles">
        <h3 class="evento-nombre">{{ evento.nombre }}</h3>
        <p class="ubicacion">
          <span class="material-icons">location_on</span> {{ evento.ubicacion }}
        </p>
        <p class="fecha-hora">
          <span class="material-icons">calendar_today</span> {{ evento.fechaHora | date: 'EEEE, dd MMMM yyyy, h:mm a' }}
        </p>
        <p class="evento-participantes">👥 Participantes: {{ evento.participantes }} / {{
          evento.cantidadMaximaParticipantes }}</p>
        <div>
          <i class="bi" [ngClass]="evento.genero === 'femenino' ? 'bi-gender-female' :
            evento.genero === 'masculino' ? 'bi-gender-male' :
            evento.genero === 'sinGenero' ? 'bi-gender-ambiguous' :
            evento.genero === 'otro' ? 'bi-gender-trans' : 'bi-question-circle'">
          </i>
          Género:
          {{ evento.genero === 'femenino' ? 'Femenino' :
          evento.genero === 'masculino' ? 'Masculino' :
          evento.genero === 'sinGenero' ? 'Sin género' :
          evento.genero === 'otro' ? 'Otro' : 'Desconocido' }}
        </div>
        <div class="etiquetas-container">
          <h4 class="etiquetas-title">Etiquetas:</h4>
          <span *ngFor="let etiqueta of evento.etiquetas" class="etiqueta">
            {{ etiqueta.nombre }}
          </span>
        </div>
        <button class="detalles-btn" (click)="irADetallesDelEvento(evento.id)">Ver Detalles</button>
      </div>
    </div>
  </div>
</div>



<ng-template #noEventos>
  <div class="no-creado">
    <p class="mensaje-no-creado">No tienes eventos creados. ¡Anímate a crear uno! 🚀</p>
    <button class="btn-crear-comunidad" (click)="irACrearEvento()">Crear evento</button>
  </div>
</ng-template>